{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style/cart.css' %}">
</head>
<body>
    <h2>Your Cart</h2>

{% for item in items %}
    <div>
        <h3>{{ item.product.name }}</h3>
        <p>Quantity: {{ item.quantity }}</p>
        <p>Total: ${{ item.total_price }}</p>

        <a href="{% url 'remove_from_cart' item.id %}">Remove</a>
    </div>
{% endfor %}

<h3>Total Cart Price: ${{ total }}</h3>
<a href="{% url 'checkout' %}">Checkout</a>
</body>
</html>